{% extends 'main/base.html' %}
{% load static %}

{% block body_class %}interior-page form-fullscreen{% endblock body_class %}

{% block content %}
<div class="form-page-container two-column-layout">
    
    <div class="form-image-column">
        </div>

    <div class="form-content-column">
        <div class="form-wrapper">
            <h1 class="form-title">Add New Item to the Collection</h1>
            
            <form method="post">
                {% csrf_token %}

                <div class="form-grid">
                    <div class="form-group span-2">{{ form.name.label_tag }} {{ form.name }}</div>
                    <div class="form-group">
                        <div style="display: flex; justify-content: space-between; align-items: baseline;">
                            {{ form.auction_season.label_tag }}
                            
                            {% if user.is_staff %}
                            <a href="{% url 'main:add_season' %}" style="font-size: 0.8rem; text-decoration: underline;">Create New Season</a>
                            {% endif %}

                        </div>
                        {{ form.auction_season }}
                    </div>
                    <div class="form-group">{{ form.category.label_tag }} {{ form.category }}</div>
                    <div class="form-group span-2">{{ form.start_price.label_tag }} {{ form.start_price }}</div>
                    <div class="form-group span-2">{{ form.description.label_tag }} {{ form.description }}</div>
                    <div class="form-group span-2">{{ form.thumbnail.label_tag }} {{ form.thumbnail }}</div>

                    <div class="form-group">{{ form.club.label_tag }} {{ form.club }}</div>
                    <div class="form-group">{{ form.player.label_tag }} {{ form.player }}</div>
                    <div class="form-group span-2">{{ form.match_date.label_tag }} {{ form.match_date }}</div>
                </div>

                <button type="submit" class="submit-button">Submit Item</button>
            </form>
        </div>
    </div>

</div>
{% endblock content %}